#about {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}
@media (min-width:0px){
    #about {
        grid-template-columns: 1fr;
    }
    .top-text-title {
        grid-column: 1/3;
    }
    .about-top {
        height: 500px;
    }
}
@media (max-width:500px) and (min-width:1200px){
    #about {
        grid-template-columns: repeat(2, 1fr);
    }
    .about-top {
        grid-column: 1/3;
    }
    .top-text-title {
        grid-column: 1/2;
    }
    .text-1 {
        grid-column: 1/3;
    }
    .text {
        grid-column: 1/3;
    }
    .img {
        grid-column: 1/3;
    }
}
@media (min-width:1200px) {
    #about {
        grid-template-columns: repeat(2, 1fr);
    }
    .about-top {
        grid-column: 1/3;
    }
    .top-text-title {
        grid-column: 1/2;
    }
    .text-1 {
        grid-column: 1/3;
    }
}
.about-top {
    display: grid;
    background-image: url(../images/about-head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: repeat(2, 1fr);
}
.top-text-title {
    text-align: center;
    width: 75%;
    align-self: center;
    justify-self: center;
    border: black 3px solid;
    padding: 1em;
    margin-top: 3em;
    background-color: rgba(53, 56, 57, 0.6);
}
.about-title-top {
    color: white;
}
.about-text-top {
    margin-top: 1em;
    font-size: 1.75em;
    color: white;
}
.image {
    width: 95%;
    margin: 1em;
    align-self: center;
    justify-self: center;
    text-align: center;
}