.all-posts-title {
    text-align: center;
    margin-bottom: 4em;
}
@media (min-width:0px) {
    .summary-description {
        width: 75%;
    }
    .summary-img {
        width: 75%;
    }
}
@media (min-width:900px){
    .summary-description {
        width: 50%;
    }
    .summary-img {
        width: 50%;
    }
}
.post-summary {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin: 1em;
}
.summary-image {
    text-align: end;
    margin-right: 3em;
}
.summary-description {
    align-self: center;
}
.summary-title {
    font-size: 1.75em;
}
.summary-author {
    font-size: 1.25em;
}
hr {
    width: 50%;
    color: grey;
}