.post-summary {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin: 1em;
}
.summary-image {
    text-align: end;
    margin-right: 3em;
}
.summary-description {
    width: 50%;
    align-self: center;
}
.summary-img {
    width: 50%;
}
.summary-title {
    font-size: 1.75em;
}
.summary-author {
    font-size: 1.25em;
}
hr {
    width: 50%;
    color: grey;
}