/* CSS for blog cards used on the Homepage and as related posts on post pages */

@media (min-width: 0px) {

    .card-text {
        font-size: 1em;
    }

}

@media (min-width: 700px) {

    .card-text {
        font-size: 1em;
    }

}

@media (min-width: 1100px) {

    .card-text {
        font-size: 1em;
    }

}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 2em;
}

.card-title {
    justify-self: stretch;
    align-self: center;
    text-align: center;
}

.card-text {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.russian-text {
    background-color: rgba(255, 255, 255, 0.6);
}

.card-1 {
    background: url(../images/travel-post-header.jpg) center / cover no-repeat;
    color: white;
}

.card-2 {
    background: url(../images/budget-travel-post-header.jpg) center / cover no-repeat;
    color: black;
}

.card-3 {
    background: url(../images/books-post-header.jpg) center / cover no-repeat;
    color: black;
}

.card-4 {
    background: url(../images/relationships-post-header.jpg) center / cover no-repeat;
    color: white;
}

.card-5 {
    background: url(../images/photo-post-header.jpg) center / cover no-repeat;
    color: white;
}

.card-6 {
    background: url(../images/russian-food-post-header.jpg) center / cover no-repeat;
    color: black;
}

#related {
    margin-bottom: 1em;
}

.related-title {
    text-align: center;
    padding: 2em 0 1.5em 0;
    border-top: black 1px solid;
}