/* CSS for the post pages */

#post {
    display: grid;
    grid-gap: 0.5em;
}
@media (min-width: 0px) and (max-width: 1350px){
    #post {
        grid-template-columns: 1fr;
    }
    .section {
        display: flex;
        flex-direction: column;
    }
    .section-title {
        order: 1;
    }
    .section-text {
        order: 2;
    }
    .section-image {
        order: 3;
    }
}
@media (min-width:1350px){
    .post-head {
        grid-column: 1/3;
    }
    .text-stretch {
        grid-column: 1/3;
    }
    .image-stretch {
        grid-column: 1/3;
    }
    .section {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section-title {
        grid-column: 1/3;
    }
}
.post-head {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2em;
}
.section {
    text-align: center;
    align-items: center;
    justify-items: center;
}
.section-image {
    width: 50%;
}
.image-stretch {
    text-align: center;
    align-self: center;
}
.books-post-head {
    background-image: url(../images/books-post-header.jpg);
    color: black;
}
.budget-travel-post-head {
    background-image: url(../images/budget-travel-post-header.jpg);
    color: black;
}
.focus-post-head {
    background-image: url(../images/focus-post-header.jpg);
    color: white;
}
.photo-post-head {
    background-image: url(../images/photo-post-header.jpg);
    color: white;
}
.relationships-post-head {
    background-image: url(../images/relationships-post-header.jpg);
    color: white;
}
.russian-food-post-head {
    background-image: url(../images/russian-food-post-header.jpg);
    color: black;
}
.travel-post-head {
    background-image: url(../images/travel-post-header.jpg);
    color: white;
}