/* CSS for the post pages */

/* Setting the layout of the blog post page */
article {
    display: grid;
    grid-gap: 0.5em;
}

/* Setting the layout of the blog page based on the screen size (from one column in smaller screens to two columns in larger screens) */
@media (min-width: 0) and (max-width: 1350px) {

    article {
        grid-template-columns: 1fr;
    }

    .post-block {
        display: flex;
        flex-direction: column;
    }

    .block-title {
        order: 1;
    }

    .block-text {
        order: 2;
    }

    .block-image {
        order: 3;
    }

}

@media (min-width: 1350px) {

    article {
        grid-template-columns: 1fr 1fr;
    }

    header {
        grid-column: 1/3;
    }

    .text-stretch {
        grid-column: 1/3;
    }

    .image-stretch {
        grid-column: 1/3;
    }

    .post-block {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .block-title {
        grid-column: 1/3;
    }

}

/* Setting the style or the header of each blog page */
header {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2em;
}

/* Setting the styling and layout of the information about the author in the header of each blog page */
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: black 2px solid;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0.25em;
}

.author-bio {
    font-size: 17px;
    padding: 0.25em;
}

/* The following texts' and titles' background colors needed to be adjusted in order for the text to be easier to read on the background */
.author-title-russian {
    background-color: rgba(253, 253, 253, 0.6);
}

.author-title-photo {
    background-color: rgba(0, 0, 0, 0.6);
}

.author-bio-russian {
    background-color: rgba(253, 253, 253, 0.6);
}

.author-bio-photo {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Setting the background images and text color of the headers of each blog post page */
.books-post-head {
    background: url(../images/books-post-header.jpg) center / cover no-repeat;
    color: black;
}

.budget-travel-post-head {
    background: url(../images/budget-travel-post-header.jpg) center / cover no-repeat;
    color: black;
}

.focus-post-head {
    background: url(../images/focus-post-header.jpg) center / cover no-repeat;
    color: white;
}

.photo-post-head {
    background: url(../images/photo-post-header.jpg) center / cover no-repeat;
    color: white;
}

.relationships-post-head {
    background: url(../images/relationships-post-header.jpg) center / cover no-repeat;
    color: white;
}

.russian-food-post-head {
    background: url(../images/russian-food-post-header.jpg) center / cover no-repeat;
    color: black;
}

.travel-post-head {
    background: url(../images/travel-post-header.jpg) center / cover no-repeat;
    color: white;
}

/* Setting the layout and styling of the blocks in the posts which include a title, the text of the section, and an image */
.post-block {
    text-align: center;
    align-items: center;
    justify-items: center;
}

.block-image {
    width: 50%;
}

.image-stretch {
    width: 50%;
    text-align: center;
    align-self: center;
    justify-self: center;
}

/* Setting the layout of the social sharing section of each blog post page and the style of its items (title and social media icons) */
#social-share {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.5em;
}

.share-title {
    font-size: 20px;
    font-weight: 700;
    padding: 1em;
}

.share-icon {
    width: 50px;
    height: 50px;
    padding: 0.1em;
}