/* CSS for the post pages */

article {
    display: grid;
    grid-gap: 0.5em;
}

@media (min-width: 0px) and (max-width: 1350px) {

    article {
        grid-template-columns: 1fr;
    }

    .post-section {
        display: flex;
        flex-direction: column;
    }

    .section-title {
        order: 1;
    }

    .section-text {
        order: 2;
    }

    .section-image {
        order: 3;
    }

}

@media (min-width: 1350px) {

    article {
        grid-template-columns: 1fr 1fr;
    }

    header {
        grid-column: 1/3;
    }

    .text-stretch {
        grid-column: 1/3;
    }

    .image-stretch {
        grid-column: 1/3;
    }

    .post-section {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section-title {
        grid-column: 1/3;
    }

}

header {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2em;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: black 2px solid;
}

.author-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0.25em;
}

.author-title-russian {
    background-color: rgba(253, 253, 253, 0.6);
}

.author-bio {
    font-size: 17px;
    padding: 0.25em;
}

.author-bio-russian {
    background-color: rgba(253, 253, 253, 0.6);
}

.post-section {
    text-align: center;
    align-items: center;
    justify-items: center;
}

.section-image {
    width: 50%;
}

.image-stretch {
    width: 50%;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.books-post-head {
    background-image: url(../images/books-post-header.jpg);
    color: black;
}

.budget-travel-post-head {
    background-image: url(../images/budget-travel-post-header.jpg);
    color: black;
}

.focus-post-head {
    background-image: url(../images/focus-post-header.jpg);
    color: white;
}

.photo-post-head {
    background-image: url(../images/photo-post-header.jpg);
    color: white;
}

.relationships-post-head {
    background-image: url(../images/relationships-post-header.jpg);
    color: white;
}

.russian-food-post-head {
    background-image: url(../images/russian-food-post-header.jpg);
    color: black;
}

.travel-post-head {
    background-image: url(../images/travel-post-header.jpg);
    color: white;
}

#social-share {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.5em;
}

.share-title {
    font-size: 20px;
    font-weight: 700;
    padding: 1em;
}

.share-icon {
    width: 50px;
    height: 50px;
    padding: 0.1em;
}