@import "post.css";
@import "all-posts.css";
@import "about.css";

body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-size: 30px;
    font-weight: 200;
    font-family: 'Arial Narrow Bold', Impact, sans-serif;
    text-transform: uppercase;
}
h3 {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Arial Narrow Bold', Impact, sans-serif;
}
hr {
    width: 50%;
    color: grey;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
button {
    background-color: rgba(253, 253, 253, 0.4);
    border: none;
    font-family: 'Arial Narrow Bold', Impact, sans-serif;
    text-transform: uppercase;
}
button:hover {
    background-color: rgba(253, 253, 253, 0.6);
    cursor: pointer;
}
.main-more {
    width: 25%;
    font-size: 1.75em;
    margin-top: 1.5em;
    padding: 0.2em;
}
.more {
    width: 50%;
    font-size: 1em;
    margin-top: 1em;
    padding: 0.1em;
}
p {
    text-align: center;
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 200%;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-self: center;
    align-self: center;
}
#header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: #f8f8f8;
    border-bottom: black 1px solid;
}
#header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.menu-item {
    text-align: center;
    font-size: 1em;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
    text-transform: uppercase;
}
.menu-item:hover{
    text-decoration: underline;
    font-size: 1.25em;
}
.header-logo {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo-img {
    width: 40px;
    height: 40px;
}
#header-social-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1em;
}
.social-item {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.social-menu-item {
    margin-left: 2%;
    margin-right: 2%;
    width: 30px;
    height: 30px;
}
.social-menu-item:hover{
    border: black 1px solid;
}
.blog-cards {
    display:grid;
    grid-gap: 0.25em;
}
.card-main {
    grid-row: 1/3;
    padding: 0;
    background-image: url(../images/focus-post-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 4em;
}
@media (min-width: 0px) {
    .menu-item {
        width: 60px;
    }
    .blog-cards {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: repeat(3, 1fr);
    }
    .card-main {
        grid-column: 1/3;
    }
    .card-text {
        font-size: 1em;
    }
    #footer {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-logo-img {
        width: 35%;
        height: 35%;
    }
    .footer-social-menu {
        grid-column: 1/3;
        grid-row: 2/3;
        align-self: center;
        text-align: center;
    }
}
@media (min-width: 700px) {
    .menu-item {
        width: 80px;
    }
    .card-text {
        font-size: 1em;
    }
    footer{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-logo-img {
        width: 18%;
        height: 18%;
    }
    .footer-social-menu {
        grid-column: 3/4;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
    }
}
@media (min-width: 1100px){
    .blog-cards{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(1fr, auto);
    }
    .card-main {
        grid-column: 1/4;
    }
    .main-text {
        font-size: 2.5em;
    }
    .card-text {
        font-size: 1em;
    }
}
.main-title {
    justify-self: stretch;
    align-self: center;
    text-align: center;
    color: white;
}
.main-text {
    justify-self: stretch;
    align-self: center;
    text-align: center;
    color: white;
}
.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 2em;
}
.card-title {
    justify-self: stretch;
    align-self: center;
    text-align: center;
}
.card-text {
    justify-self: center;
    align-self: center;
    text-align: center;
}
.card-1 {
    background-image: url(../images/travel-post-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.card-2 {
    background-image: url(../images/budget-travel-post-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}
.card-3 {
    background-image: url(../images/books-post-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}
.card-4 {
    background-image: url(../images/relationships-post-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.card-5 {
    background-image: url(../images/photo-post-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.card-6 {
    background-image: url(../images/russian-food-post-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}
.russian-text {
    background-color: rgba(255, 255, 255, 0.6);
}
footer {
    border-top: black 1px solid;
    display: grid;
    background-color: #f8f8f8;
}
.footer-logo {
    align-self: center;
    justify-self: center;
    text-align: center;
}
.footer-logo-img {
    padding: 1em;
}
.footer-menu {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    border-top: black 1px solid;
    margin-top: 2em;
}
.footer-menu-item {
    margin: 0.5em;
    font-size: 1.5em;
    text-align: center;
}
.footer-menu-item:hover {
    text-decoration: underline;
    font-size: 1.75em;
}
.footer-social-menu {
    padding: 1em;
    border-top: black 1px solid;
}