/* Main CSS files with imports of all the other CSS files and with CSS rules that apply to general elements on the entire website */

/* Linking all the other CSS files to this main file */
@import url(post.css);
@import url(all-posts.css);
@import url(about.css);
@import url(index.css);
@import url(blog-cards.css);
@import url(header-footer.css);

/* Setting the general styling for elements that are used across the entire website */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(237, 219, 217, 0.4);
}

h1 {
    font: 45px Impact, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
}

h2 {
    font: 200 30px "Arial Narrow Bold", Impact, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h3 {
    font: 100 15px "Arial Narrow Bold", Impact, sans-serif;
    margin: 0.5em 0 0.5em 0;
}

hr {
    width: 50%;
    color: grey;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

q {
    quotes: """ """;
}

button {
    background-color: rgba(253, 253, 253, 0.4);
    border: none;
    font-family: "Arial Narrow Bold", Impact, sans-serif;
    text-transform: uppercase;
}

button:hover {
    background-color: rgba(253, 253, 253, 0.6);
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin: 1em 10% 1em 10%;
    line-height: 200%;
    justify-self: center;
    align-self: center;
}

.image {
    width: 95%;
    margin: 1em;
    align-self: center;
    justify-self: center;
    text-align: center;
}

figcaption {
    text-align: center;
}