/* Main CSS files with imports of all the other CSS files and with CSS rules that apply to general elements on the entire website */

@import "post.css";
@import "all-posts.css";
@import "about.css";
@import "index.css";
@import "blog-cards.css";
@import "header-footer.css";

body {
    margin: 0;
    padding: 0;
    background-color: rgba(237, 219, 217, 0.4);
}

h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-family: Impact, "Arial Narrow Bold", sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-family: "Arial Narrow Bold", Impact, sans-serif;
    text-transform: uppercase;
}

h3 {
    font-size: 15px;
    font-weight: 100;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: "Arial Narrow Bold", Impact, sans-serif;
}

hr {
    width: 50%;
    color: grey;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

q {
    quotes: """ """;
}

button {
    background-color: rgba(253, 253, 253, 0.4);
    border: none;
    font-family: "Arial Narrow Bold", Impact, sans-serif;
    text-transform: uppercase;
}

button:hover {
    background-color: rgba(253, 253, 253, 0.6);
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 200%;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-self: center;
    align-self: center;
}

.image {
    width: 95%;
    margin: 1em;
    align-self: center;
    justify-self: center;
    text-align: center;
}